.character {
  text-align: center;
}

.character img {
  width: 300px;
  height: 300px;
  border-radius: 15px;

}
.inputs {
  margin: 30px 30px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(204, 204, 204);
  border-radius: 15px;

}

.inputs input {
  height: 25px;
  border-radius: 15px;

}
.inputs button {
  width: 150px;
  height: 80px;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;

}
.players {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin: 30px 30px;
  background-color: rgb(204, 204, 204);
}
.player {
  padding: 15px;
}
.player1 {
  background-color: antiquewhite;
  padding: 15px;
}
.player2 {
  background-color: antiquewhite;
  padding: 15px;
}
.player3 {
  background-color: antiquewhite;
  padding: 15px;
}
.players .vs {
  margin-top: 40px;
  font-size: 25px;
}
