.character {
  text-align: center;
  background-color: rgb(204, 204, 204);
}

.character img {
  width: 500px;
  height: 500px;
  border-radius: 15px;
}
.inputs {
  margin: 30px 30px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
}

.inputs form {
  border: solid 3px rgb(0, 0, 0);
}
.inputs input {
  height: 25px;
  border-radius: 15px;
}
.inputs button {
  width: 150px;
  height: 80px;
  margin: 0 auto;
  background-color: white;
  border-radius: 15px;
}
.players {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin: 30px 30px;
  border-radius: 15px;
}
.players button {
  border-radius: 15px;
}
.player {
  padding: 15px;
}
.player1 {
  background-color: rgb(75, 75, 75);
  border-radius: 15px;
  padding: 15px;
}
.player2 {
  background-color: rgb(75, 75, 75);
  border-radius: 15px;

  padding: 15px;
}
.player3 {
  background-color: rgb(75, 75, 75);
  border-radius: 15px;
  padding: 15px;
}
.players .vs {
  margin-top: 40px;
  font-size: 25px;
}

@media screen and (max-width: 1000px) {
  .character img {
    width: 400px;
    height: 400px;
    border-radius: 15px;
  }
}

@media screen and (max-width: 700px) {
  .character img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
  }
}
