.start {
  text-align: center;
  font-size: 60px;
}

.header-logo {
  margin-left: 30px;
}
.header-list {
  display: flex;
}
.header-list li {
  margin-left: 30px;
}

.start-button a {
  background-color: rgb(101, 101, 100);
  display: block;
}
.start-button li {
  list-style-type: none;
  width: 80%;
  margin: 30px auto;
}
