.start {
  text-align: center;
  font-size: 60px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  margin-left: 30px;
  background-color: rgb(255, 255, 255);
}
.header-list {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

.header-list li {
  margin-left: 30px;
  margin-right: 30px;
}

.start-button a {
  background-color: rgb(217, 217, 217);
  display: block;
}
.start-button li {
  list-style-type: none;
  width: 80%;
  margin: 30px auto;
}
